html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  color: #000000;
}
#mainContainer {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: Arial, sans-serif;
  padding: 15px 15px;
}
#mainContainer .dvContentCtnr {
  padding-top: 20px;
  padding-left: 20px;
}
#mainContainer .dvContentCtnr .dvErrorMessage {
  margin-top: 10px;
  color: #ff0000;
}
#mainContainer .dvContentCtnr .dvEditProperty .dvView {
  cursor: pointer;
}
#mainContainer .dvContentCtnr .dvEditProperty .dvView img {
  margin-left: 1px;
  position: relative;
  top: 1px;
}
#mainContainer .dvContentCtnr .dvEditProperty .dvChange input {
  width: 100%;
}
#mainContainer .dvContentCtnr .dvEditProperty .dvChange input.ng-invalid {
  background-color: #fd7b80;
  border: 1px solid #c37171;
}
#mainContainer .dvContentCtnr .dvEditProperty .dvChange .spRequired {
  color: #ff0000;
}
#mainContainer .dvContentCtnr #hintSection {
  margin-top: 15px;
  font-size: 14px;
}
#mainContainer .dvTableCtnr {
  margin-top: 15px;
}
#mainContainer .dvTableCtnr table {
  font-size: 15px;
  border-collapse: separate;
  border-spacing: 0px;
}
#mainContainer .dvTableCtnr table tr th,
#mainContainer .dvTableCtnr table tr td {
  border: 1px solid #7b7b7b;
  border-right: none;
  padding: 3px 10px;
}
#mainContainer .dvTableCtnr table tr td {
  border-top: none;
  /*a {
              text-decoration: none;
              color: @textColor;
            }*/
}
#mainContainer .dvTableCtnr table tr th:last-child,
#mainContainer .dvTableCtnr table tr td:last-child {
  border-right: 1px solid #7b7b7b;
}
#mainContainer .dvTableCtnr table tr td.colName {
  cursor: pointer;
}
#mainContainer .dvTableCtnr table tr.selected {
  color: #ffffff;
  background-color: #6c99bd;
}
#mainContainer .dvTableCtnr table tr.selected a {
  color: #ffffff;
}
#mainContainer .dvTableCtnr table tr.selected .dvEditProperty .dvChange .spRequired {
  color: #ffed01;
}
#mainContainer .spTitle {
  font-size: 21px;
  font-weight: bold;
}
#mainContainer .dvButtonsCtnr {
  margin-top: 10px;
}
#mainContainer .dvButtonsCtnr input {
  padding: 2px 15px;
  font-size: 14px;
}
#mainContainer .dvButtonsCtnr.dvTopCtrn {
  margin-top: 0px;
  margin-bottom: 10px;
}
#mainContainer .dvEditItemCtnr table tr:first-child td {
  border-top: 1px solid #7b7b7b;
}
#mainContainer .dvEditItemCtnr table td:first-child {
  font-weight: bold;
}
#mainContainer .dvEditItemCtnr table input,
#mainContainer .dvEditItemCtnr table textarea {
  min-width: 300px;
}