html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  color: #000000;
}
.dvLoading {
  display: block;
  width: 100%;
  height: 100%;
}
.dvLoading .dvLoadingContent {
  display: table;
  margin: 0 auto;
  height: 100%;
}
.dvLoading .dvLoadingContent .dvElem {
  display: table-cell;
  vertical-align: middle;
}
.dvLoading .dvLoadingContent .dvElem img {
  width: 48px;
}
#userInfoCtnr {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  padding: 5px 10px;
  background-color: #d8d6d8;
  color: #292929;
}
#userInfoCtnr a {
  margin-left: 5px;
  text-decoration: underline;
}
#mainContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: Arial, sans-serif;
  padding: 40px 15px 0px 15px;
}
#mainContainer .dvContentCtnr .dvEditProperty .dvView {
  cursor: pointer;
}
#mainContainer .dvContentCtnr .dvEditProperty .dvView img {
  margin-left: 1px;
  position: relative;
  top: 1px;
}
#mainContainer .dvContentCtnr .dvEditProperty .dvChange input {
  width: 100%;
}
#mainContainer .dvContentCtnr .dvEditProperty .dvChange input.ng-invalid {
  background-color: #fd7b80;
  border: 1px solid #c37171;
}
#mainContainer .dvContentCtnr .dvEditProperty .dvChange .spRequired {
  color: #ff0000;
}
#mainContainer .dvContentCtnr #hintSection {
  margin-top: 15px;
  font-size: 14px;
}
#mainContainer .dvTableCtnr {
  padding-bottom: 15px;
}
#mainContainer .dvTableCtnr table {
  font-size: 15px;
  border-collapse: separate;
  border-spacing: 0px;
}
#mainContainer .dvTableCtnr table tr th,
#mainContainer .dvTableCtnr table tr td {
  border: 1px solid #7b7b7b;
  border-right: none;
  padding: 5px 15px;
}
#mainContainer .dvTableCtnr table tr td {
  border-top: none;
  /*a {
              text-decoration: none;
              color: @textColor;
            }*/
}
#mainContainer .dvTableCtnr table tr th:last-child,
#mainContainer .dvTableCtnr table tr td:last-child {
  border-right: 1px solid #7b7b7b;
}
#mainContainer .dvTableCtnr table tr td.colName {
  cursor: pointer;
}
#mainContainer .dvTableCtnr table tr.selected {
  color: #ffffff;
  background-color: #6c99bd;
}
#mainContainer .dvTableCtnr table tr.selected a {
  color: #ffffff;
}
#mainContainer .dvTableCtnr table tr.selected .dvEditProperty .dvChange .spRequired {
  color: #ffed01;
}
#mainContainer .dvTitle {
  margin-bottom: 20px;
}
#mainContainer .dvTitle span {
  font-size: 21px;
  font-weight: bold;
}
#mainContainer .dvActionMessage {
  margin-bottom: 10px;
}
#mainContainer .dvErrorMessage {
  color: #ff0000;
}
#mainContainer .dvInfoMessage {
  color: #009213;
}
#mainContainer .dvInfo {
  font-size: 13px;
  margin-top: 3px;
  color: #3a3636;
}
#mainContainer .dvButtonsCtnr {
  margin-top: 10px;
}
#mainContainer .dvButtonsCtnr input {
  padding: 2px 15px;
  font-size: 14px;
  margin-right: 10px;
}
#mainContainer .dvButtonsCtnr.dvTopCtrn {
  margin-top: 0px;
  margin-bottom: 10px;
}
#mainContainer .dvEditCtnr table tr:first-child td {
  border-top: 1px solid #7b7b7b;
}
#mainContainer .dvEditCtnr table td:first-child {
  font-weight: bold;
}
#mainContainer .dvEditCtnr table input,
#mainContainer .dvEditCtnr table textarea {
  min-width: 300px;
  width: 100%;
}
#mainContainer .dvEditCtnr table .tdPhone span {
  margin-right: 5px;
}
#mainContainer .dvEditCtnr table .tdPhone input {
  width: auto;
}
#mainContainer .dvEditCtnr .dvErrorMessage {
  margin-top: 2px;
}
#mainContainer .dvEditCtnr .dvChangePasswordArea {
  margin-top: 10px;
}
#mainContainer .dvEditCtnr .dvChangePasswordArea .dvField {
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */