
<div id="editProfileCtnr" class="dvEditCtnr">

  <div class="dvButtonsCtnr dvTopCtrn">
    <input type="button" ng-click="goBack()" value="Back to list" />
  </div>

  <span class="spTitle">{{title}}</span>

  <div ng-show="errorMessage" class="dvErrorMessage">
    <span>{{errorMessage}}</span>
  </div>

  <div class="dvTableCtnr">
    <form name="form" novalidate>
      <table>
        <tbody>
          <tr>
            <td>Name: </td>
            <td>
              <input type="text" ng-model="name" maxlength="255" />
            </td>
          </tr>
          <tr>
            <td>Surname: </td>
            <td>
              <input type="text" ng-model="surname" maxlength="255" />
            </td>
          </tr>
          <tr>
            <td>Email:*</td>
            <td>
              <input type="email" ng-model="email" name="UserEmailInput" placeholder="E-mail address" ng-keydown="isNoValid=false" required>
              <div class="dvErrorMessage" ng-show="isNoValid && form.UserEmailInput.$error.required">
                <span>Required field!</span>
              </div>
              <div class="dvErrorMessage" ng-show="isNoValid && form.UserEmailInput.$error.email">
                <span>Invalid email!</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Phone: </td>
            <td class="tdPhone">
              <span>+380</span><input type="text" name="Phone" ng-model="phone" numeric-only minlength="9" maxlength="9" placeholder="XXХХХХХХХ" />
              <div class="dvErrorMessage" ng-show="form.Phone.$dirty && isNoValid && (form.Phone.$error.minlength || form.Phone.$error.maxlength)">
                <span>Phone number should have 9 digits</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>

      <div class="dvButtonsCtnr">
        <input type="button" ng-click="saveProfile(form)" value="Save" />
        <input type="button" ng-click="isChangePasswordShow=true" value="Change password" />
      </div>

    <form name="formPassword" novalidate>
      <div ng-show="isChangePasswordShow" class="dvChangePasswordArea">
        <div class="dvField">
          <input ng-model="newPassword" name="NewPassword" type="password" placeholder="New password" ng-minlength="6" ng-maxlength="16" ng-pattern="[a-zA-Z0-9]+" required>
          <div class="dvInfo">
            <span>6-16 characters [a-zA-Z0-9]</span>
          </div>
          <div class="dvErrorMessage" ng-show="isNoValidPassword && formPassword.NewPassword.$error.required">
            <span>Required field!</span>
          </div>
          <div class="dvErrorMessage" ng-show="isNoValidPassword && (formPassword.NewPassword.$error.minlength || formPassword.NewPassword.$error.maxlength)">
            <!--<span>Invalid password! - should have the size from 6 to 16 and contains the symbols [a-zA-Z0-9]</span>-->
            <span>Invalid password!</span>
          </div>
        </div>

        <div class="dvField">
          <input ng-model="repeatPassword" name="RepeatPassword" type="password" placeholder="Repeat password" ng-minlength="6" ng-maxlength="16" ng-pattern="[a-zA-Z0-9]+" required>
          <div class="dvErrorMessage" ng-show="isNoValidPassword && newPassword != repeatPassword">
            <span>Must be equal with "New password"</span>
          </div>
        </div>

        <div class="dvButtonsCtnr">
          <input type="button" ng-click="savePassword(formPassword)" value="Save" />
        </div>
      </div>
    </form>
    

  </div>

</div>

