
<div class="dvEditCtnr">

  <div class="dvButtonsCtnr dvTopCtrn">
    <input type="button" ng-click="backToList()" value="Back to list" />
  </div>

  <div class="dvTitle">
    <span class="spTitle">{{title}}</span>
  </div>

  <div ng-show="actionMessage" class="dvActionMessage" ng-class="{dvErrorMessage: !isOkResult, dvInfoMessage: isOkResult}">
    <span>{{actionMessage}}</span>
  </div>

  <div class="dvTableCtnr">
    <form name="form" novalidate>
      <table>
        <tbody>
          <tr>
            <td>Name:* </td>
            <td>
              <input type="text" name="NameInput" ng-model="goodsItem.name" maxlength="255" required />
              <div class="dvErrorMessage" ng-show="isNoValid && form.NameInput.$error.required">
                <span>Required field!</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Price: </td>
            <td>
              <input type="text" numeric-only name="PriceInput" ng-model="goodsItem.price" value="{{price | priceFilter}}" ng-pattern="/^[\d]+,\d{2}$/g" ng-pattern="[\d]+,\d{2}" placeholder="XXXX,XX" required />
              <div class="dvErrorMessage" ng-show="isNoValid && form.PriceInput.$error.required">
                <span>Required field!</span>
              </div>
              <div class="dvErrorMessage" ng-show="isNoValid && form.PriceInput.$error.pattern">
                <span>Wrong format - must be XXXX,XX</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Description:*</td>
            <td>
              <textarea name="DescriptionText" ng-model="goodsItem.description" maxlength="1000" required></textarea>
              <div class="dvErrorMessage" ng-show="isNoValid && form.DescriptionText.$error.required">
                <span>Required field!</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="dvButtonsCtnr">
        <input type="submit" ng-click="saveItem(form)" value="{{action}}" />
      </div>

    </form>
  </div>

</div>

